<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-note-list
      *ngIf="(rootNotes?.length || 0) > 0"
      [listId]="'rootList'"
      [otherListId]="'subList'"
      [notes]="rootNotes"
      [selectedId]="selectedNoteId"
      (selectedNoteId)="noteSelected($event)"
      (noteDrop)="dropOntoRoot($event)"
    ></app-note-list>
    <app-note-list-placeholder
      *ngIf="(rootNotes?.length || 0) === 0"
    ></app-note-list-placeholder>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-main-content
      [opened]="opened"
      [subNotes]="subNotes"
      [selectedNoteId]="selectedNoteId"
      [selectedSubNoteId]="selectedSubNoteId"
      [displayNote]="displayNote"
      (subNoteSelected)="subNoteSelected($event)"
      (droppedIntoSubList)="dropOntoSub($event)"
    ></app-main-content>
  </mat-sidenav-content>
</mat-sidenav-container>
