<mat-toolbar color="primary">
  <span class="title-container">
    <a routerLink="/home">My Notes</a>
  </span>

  <mat-list *ngIf="isAuthLoading$ | async">
    <mat-list-item class="progress">
      Logging in
      <mat-icon>autorenew</mat-icon>
    </mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
  </mat-list>

  <mat-list *ngIf="authenticated$ | async">
    <mat-list-item class="progress" *ngIf="isLoading$ | async">
      Saving
      <mat-icon>autorenew</mat-icon>
    </mat-list-item>
    <mat-list-item class="saved" *ngIf="!(isLoading$ | async)">
      Saved
      <mat-icon>check_circle</mat-icon>
    </mat-list-item>
    <ng-container *ngIf="isNoteSelected$ | async">
      <mat-list-item *ngIf="isMoveToSubEnabled$ | async">
        <button
          mat-icon-button
          color="accent"
          matTooltip="Move to sub"
          (click)="moveToSubClick()"
        >
          <mat-icon class="rotate-180">subdirectory_arrow_left</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <button
          mat-icon-button
          color="accent"
          matTooltip="Delete note"
          (click)="deleteClick()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </ng-container>
    <mat-list-item>
      <button
        mat-icon-button
        color="accent"
        matTooltip="Create new note"
        (click)="createClick()"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
  </mat-list>

  <div class="auth-container">
    <ng-container *ngIf="!(authenticated$ | async)">
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/signup">Sign up</a>
    </ng-container>
    <button *ngIf="authenticated$ | async" mat-button (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>
