.title-container {
  padding: 1em;

  mat-form-field {
    transform: scale(1.8) translateX(45px);
  }
}

.content-container {
  margin: 10px;

  mat-form-field {
    width: 100%;
  }

  textarea {
    max-height: calc(100vh - 230px);
  }
}

h1 {
  margin: 0;
  padding: 1em;
}
